
<table border="1">
	<tr style="background: lightblue; color: blue">
		<th colspan="2" align="center">Delete Customer</th>
	</tr>

	<tr>
		<td>Enter Customer id :</td>
		<td><input type="number" placeholder="Customer's id"
			ng-model="main.id" /></td>
	</tr>
</table>

<p>
	<button ng-click="main.deleteCustomer()">delete</button>
</p>

<p style="color: red;" ng-show="main.failed.flag">{{main.console.text}}</p>
<p style="color: green;" ng-show="main.succes.flag">{{main.console.text}}</p>

<table border="1">
	<tr style="background: lightblue; color: blue">
		<th>ID</th>
		<th>NAME</th>
		<th>PASSWORD</th>
	</tr>

	<tr ng-repeat="customer in main.customers.all">
		<td>{{customer.id}}</td>
		<td>{{customer.custName}}</td>
		<td>{{customer.password}}</td>
	</tr>
</table>
<p>
	<button ng-click="main.refreshTable()">Refresh Table</button>
</p>

