
<table border="1">
	<tr style="background: lightblue; color: blue">
		<th colspan="2" align="center">Search for a Customer</th>
	</tr>

	<tr>
		<td>Enter Customer id :</td>
		<td><input type="number" placeholder="Customer's id"
			ng-model="main.id" /></td>
	</tr>
</table>

<p>
	<button ng-click="main.getCustomer()">get</button>
</p>

<p style="color: red;" ng-show="main.failed.flag">{{main.console.text}}</p>

<table ng-show="main.succes.flag" border="1">
	<tr style="background: lightblue; color: blue">
		<th>ID</th>
		<th>NAME</th>
		<th>PASSWORD</th>
	</tr>

	<tr>
		<td>{{main.customer.obj.id}}</td>
		<td>{{main.customer.obj.custName}}</td>
		<td>{{main.customer.obj.password}}</td>
	</tr>
</table>
