
<table border="1">
	<tr style="background: lightblue; color: blue">
		<th colspan="2" align="center">Company to Update</th>
	</tr>

	<tr>
		<td>Enter Company's id :</td>
		<td><input type="number" placeholder="Company's id"
			ng-model="main.company.id" /></td>
	</tr>
	<tr>
		<td>Enter Company's name :</td>
		<td><input type="text" placeholder="Company's name"
			ng-model="main.company.compName" /></td>
	</tr>
	<tr style="background: lightblue; color: blue">
		<th colspan="2" align="center">Company's New information</th>
	</tr>
	<tr>
		<td>Enter Company's NEW password :</td>
		<td><input type="password" placeholder="Company's password"
			ng-model="main.company.password" /></td>
	</tr>
	<tr>
		<td>Enter Company's NEW email :</td>
		<td><input type="email" placeholder="Company's email"
			ng-model="main.company.email" /></td>
	</tr>
</table>
<p>
	<button ng-click="main.updateCompany()">Update</button>
</p>


<p style="color: red;" ng-show="main.failed.flag">{{main.console.text}}</p>
<p style="color: green;" ng-show="main.succes.flag">{{main.console.text}}</p>

<table border="1">
	<tr style="background: lightblue; color: blue">
		<th>ID</th>
		<th>NAME</th>
		<th>PASSWORD</th>
		<th>EMAIL</th>
	</tr>

	<tr ng-repeat="comp in main.comps.all">
		<td>{{comp.id}}</td>
		<td>{{comp.compName}}</td>
		<td>{{comp.password}}</td>
		<td>{{comp.email}}</td>
	</tr>
</table>
<p>
	<button ng-click="main.refreshTable()">refresh Table</button>
</p>
